openapi: 3.1.0
info:
  title: DeepSource API
  description: API para verificar problemas, bugs e code smells em repositórios usando DeepSource.
  version: 1.0.0
servers:
  - url: https://api.deepsource.io
    description: DeepSource API
paths:
  /v1/repos/{repo_id}/issues/:
    get:
      operationId: getRepoIssues
      summary: Lista os problemas encontrados no repositório no DeepSource.
      parameters:
        - name: repo_id
          in: path
          required: true
          description: ID ou slug do repositório (ex: github/user/repo)
          schema:
            type: string
      responses:
        '200':
          description: Lista de problemas encontrados no repositório.
          content:
            application/json:
              schema:
                type: object
                properties:
                  issues:
                    type: array
                    items:
                      type: object
                      properties:
                        issue_code:
                          type: string
                        description:
                          type: string
                        location:
                          type: string
                        severity:
                          type: string
        '401':
          description: Não autorizado. Verifique sua API Key.
        '404':
          description: Repositório não encontrado.
      security:
        - apiKeyAuth: []
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
