openapi: 3.1.0
info:
  title: DeepSource API
  description: API para listar problemas encontrados em um repositório no DeepSource.
  version: "1.0"
servers:
  - url: https://api.deepsource.io
    description: DeepSource API Server
paths:
  /v1/repos/{repo_id}/issues/:
    get:
      operationId: getRepositoryIssues
      summary: Lista os problemas encontrados em um repositório
      parameters:
        - name: repo_id
          in: path
          required: true
          description: O ID do repositório no formato github/user/repo
          schema:
            type: string
      responses:
        "200":
          description: Lista de problemas encontrados no repositório
          content:
            application/json:
              schema:
                type: object
                properties:
                  issues:
                    type: array
                    items:
                      type: object
                      properties:
                        issue_code:
                          type: string
                        description:
                          type: string
                        location:
                          type: string
                        severity:
                          type: string
        "401":
          description: Não autorizado (verifique sua API Key)
        "404":
          description: Repositório não encontrado
      security:
        - apiKeyAuth: []
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
  schemas: {}
