openapi: 3.1.0
info:
  title: DeepSource API
  description: API para verificar problemas, bugs e code smells em repositórios usando DeepSource.
  version: 1.0.0
servers:
  - url: https://api.deepsource.io
paths:
  /v1/repos/{repo_id}/issues/:
    get:
      operationId: getRepoIssues
      summary: Lista os problemas encontrados no repositório.
      parameters:
        - name: repo_id
          in: path
          required: true
          description: ID ou slug do repositório (ex: github/user/repo)
          schema:
            type: string
      responses:
        '200':
          description: Lista de problemas encontrados no repositório
          content:
            application/json:
              schema:
                type: object
      security:
        - apiKeyAuth: []
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization

openapi: 3.1.0
info:
  title: SonarCloud API
  description: API para verificar qualidade, bugs e vulnerabilidades em projetos via SonarCloud.
  version: 1.0.0
servers:
  - url: https://sonarcloud.io
paths:
  /api/issues/search:
    get:
      operationId: searchIssues
      summary: Busca problemas no código do projeto.
      parameters:
        - name: componentKeys
          in: query
          required: true
          description: Chave do projeto no SonarCloud (ex: user_project)
          schema:
            type: string
        - name: types
          in: query
          required: false
          description: Tipo de problemas (BUG, VULNERABILITY, CODE_SMELL)
          schema:
            type: string
        - name: severities
          in: query
          required: false
          description: Severidade (INFO, MINOR, MAJOR, CRITICAL, BLOCKER)
          schema:
            type: string
      responses:
        '200':
          description: Lista de problemas encontrados no projeto
          content:
            application/json:
              schema:
                type: object
      security:
        - apiKeyAuth: []
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
