openapi: 3.1.0
info:
  title: DeepSource API
  description: API para listar problemas encontrados em um repositório no DeepSource.
  version: "1.0"
servers:
  - url: https://api.deepsource.io
    description: DeepSource API Server
paths:
  /v1/repos/{repo_id}/issues/:
    get:
      operationId: getRepositoryIssues
      summary: Lista os problemas encontrados em um repositório
      parameters:
        - name: repo_id
          in: path
          required: true
          description: O ID do repositório no formato github/user/repo
          schema:
            type: string
      responses:
        "200":
          description: Lista de problemas encontrados no repositório
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuesResponse'
        "401":
          description: Não autorizado (verifique sua API Key)
        "404":
          description: Repositório não encontrado
      security:
        - apiKeyAuth: []
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    IssuesResponse:
      type: object
      properties:
        issues:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
    Issue:
      type: object
      properties:
        issue_code:
          type: string
          description: Código do problema
        description:
          type: string
          description: Descrição do problema
        location:
          type: string
          description: Localização no código
        severity:
          type: string
          description: Severidade do problema
